/*.pre-main {
	height: 100vh;
}*/

.main {
	padding-top: 71px;
}

.list-group {
	margin-top: 15px;
}

.div-pagination {
	display: inline-block;
	/*margin: auto;*/
	/*text-align: center;*/
}

.div-right {
	text-align: center;
}

.div-right p {
	text-align: left;
}

footer {
	height: 100px;
	background-color: lightblue;
}