html {
	overflow: hidden;
}

body {
	background-image: url(../images/chess-bg.jpg);
	/* background-repeat: no-repeat; */
	color: #FFFFFF;
	background-size: cover;
	/* overflow: hidden; */
	overflow-x: hidden;
	
	width: 100vw;
	height: 100vh;
}

/* .main {

} */

.jumbotron {
	text-align: center;
	padding-top: 120px; /*default padding-top + height of navbar*/

	/* sets the default gray color of jumbotron to transparent */
	background-color: transparent;
}

@media only screen and (max-width: 440px) {
	h1 {
		font-size: 12vw !important;
	}
}