* {
	font-family: 'Roboto Condensed', sans-serif;
}

/* nav.navbar {
	background-color: #031926 !important;
	color: #FFFFFF !important;
} */

/* nav.navbar a {
	background-color: #031926 !important;
	color: #FFFFFF !important;
} */

/* nav.bg-light * {
	color: #FFFFFF !important;
} */

/* .navbar {
	background-color: brown !important;
} */

.navbar .fas {
	position: relative;
	bottom: 1px;
}

body {
	padding-bottom: 60px;
	/* background-color: #031926; */
	/* color: #FFFFFF; */
	/* color: #468189; */
	background-color: #F4E9CD;
}

footer {
    height: auto !important;
}

footer * {
    margin: 0;
}

footer small {
	line-height: initial;
	color: #000000;
}


/*index.html*/


	.index {
		overflow: hidden;
	}

	.index body {
		background-color: #434142;
		background-image: url(../images/chess-bg.jpg);
		/* background-repeat: no-repeat; */
		color: #FFFFFF;
		background-size: cover;
		/* overflow: hidden; */
		overflow-x: hidden;
		
		width: 100vw;
		height: 100vh;
	}

	/* .main {

	} */

	.index .jumbotron {
		text-align: center;
		padding-top: 120px; /*default padding-top of jumbotron + height of navbar*/

		/* sets the default gray color of jumbotron to transparent */
		background-color: transparent;
	}

	@media only screen and (max-width: 440px) {
		.index h1 {
			font-size: 12vw !important;
		}
	}


/*learn.html*/


	/*.pre-main {
		height: 100vh;
	}*/

	.learn .main {
		padding-top: 71px; /*height of navbar*/
		max-width: 992px;
	}

	/* .learn #nav-outline {
		position: fixed;
	} */

	/* .learn #nav-outline li {
		border-left: 1px solid black;
	} */

	.learn .invisible-block::before {
		display: block;
		height: 56px;
		margin-top: -56px;
		visibility: hidden;
		content: "";
	}

	.learn ul.subgroup {
		padding-left: 20px;
	}

	.learn .list-group {
		margin-top: 15px;
	}

	.learn .div-pagination {
		display: inline-block;
		/*margin: auto;*/
		/*text-align: center;*/
	}

	.learn .div-right {
		text-align: center;
	}

	.learn .div-right p {
		text-align: left;
	}

	.learn footer {
		height: 100px;
		background-color: lightblue;
	}

	@media (min-width: 992px) {
		.learn #nav-outline {
			/* position: fixed;
			left: 15px; */
		}
	}


/*forum.html*/


	.forum body {
		padding-top: 76px;
	}

	.forum .div-right ul {
		font-size: 80%;
	}


/*contact.html*/


	.contact form {
		max-width: 768px;
	}